{% for upstream, servers in rentalis_servers.items() %}
upstream {{ upstream }} {
  {% for server in servers %}
  server {{server}};
  {% endfor %}
}
{% endfor %}

server {
  listen 80;
  server_name {{rentalis_domain}};

  return 301 https://{{rentalis_domain}}$request_uri;
}

server {
  listen 443 ssl;
  server_name {{rentalis_domain}};

  client_max_body_size {{max_body_size}};

  ssl_certificate     /etc/letsencrypt/live/{{rentalis_domain}}/fullchain.pem ;
  ssl_certificate_key /etc/letsencrypt/live/{{rentalis_domain}}/privkey.pem;
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers         HIGH:!aNULL:!MD5;

  location / {
    proxy_pass http://backoffice;
  }

  location /api {
    proxy_pass http://api;
  }
}
